@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* -- root section -- */
:root{
  --clr-white: #FFF;
  --clr-black: #000;
  --clr-dark-blue: #29578B;
  --clr-darkest-blue: #1d4571;
  --clr-light-blue: #07ACEC;
  --clr-extreme-dark-blue: #091522;
  --grid-length: 87.5rem;
  --regular: 400;
  --bold: 700; 
  --step--2: clamp(1.26rem, calc(0.78rem + 2.40vw), 2.88rem);
  --step--1: clamp(1.51em, calc(0.89em + 3.10vw), 3.60em);
  --step-0: clamp(1.81rem, calc(1.02rem + 3.98vw), 4.50rem);
  --step-1: clamp(2.17rem, calc(1.15rem + 5.11vw), 5.63rem);
  --step-2: clamp(2.61rem, calc(1.30rem + 6.55vw), 7.03rem);
  --step-3: clamp(3.13rem, calc(1.46rem + 8.38vw), 8.79rem);
  --step-4: clamp(3.76rem, calc(1.62rem + 10.71vw), 10.99rem);
  --step-5: clamp(4.51rem, calc(1.78rem + 13.66vw), 13.73rem);
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  animation: htmlFadeIn 500ms;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

.dark-highlight{
  color: var(--clr-dark-blue);
  font-weight: 700;
}

.light-highlight{
  color: var(--clr-light-blue);
  font-weight: 700;
}

/* -- header section --*/
.header{
  height: 4rem;
  position: fixed;
  left: 0; 
  right: 0;
  top: 0;
  z-index: 999;
  background-color: var(--clr-white);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
  animation: top-to-bottom 1s;
}

.header-container{
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--grid-length);
  margin-inline: auto;
  padding-inline: 1em;
}

.navbar{
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  top: 100%;
  width: 100vw;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: -1;
  animation-duration: .5s;
}

.navbar-list{
  display: grid;
  gap: 1.5rem;
  width: 100%;
  list-style-type: none;
}

.navbar-list li{
  height: 100%;
}

.navbar-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  height: 100%;
  padding-inline: .5em;
  color: var(--clr-dark-blue);
}

.link-icon{
  fill: white;
}

.link-name{
  font-size: 14px;
}

#link-active{
  background-color: var(--clr-dark-blue);
  color: white;
  text-decoration: none;
  border: none;
}

.hamburger-menu{
  display: grid;
  position: relative;
  align-content: space-between;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.hamburger-row{
  background-color: var(--clr-dark-blue);
  height: .25rem;
}

.hamburger-toggled{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40%;
}

/* -- main section -- */
.main{
  max-width: 100%;
  background-color: #fafafa;
}

.blog{
  max-width: 100%;
}

.blog-featured-posts{
  padding-top: calc(6vw + 4em);
  padding-bottom: 3em;
  background-color: rgba(0, 0, 0, 0.9);
  background-image: url("../img/earth-bg.webp");
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}

.blog-title-box{
  text-align: center;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  animation: left-to-right 1s;
  padding-top: .5em;
  padding-bottom: .5em;
}

.blog-featured-posts-container{
  max-width: 75rem;
  margin-inline: auto;
  padding-inline: 1em;
}

.blog-title{
  font-size: var(--step-2);
  color: var(--clr-white);
  line-height: 1.2;
}

.blog-featured-grid{
  display: grid;
  column-gap: 3rem;
  row-gap: 2rem;
}

.post-thumbnail-big{
  max-width: 100%;
  object-fit: cover;
}

.post-thumbnail-small{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-post{
  display: flex;
}

.article-content{
  display: grid;
  row-gap: 0.5rem;
}

.featured-post-big{
  row-gap: 1rem;
  flex-direction: column;
  animation: left-to-right 1s;
}

.featured-post-big .article-content{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.featured-post-small{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  animation: right-to-left 1s;
}

.featured-post-small .article-title{
  font-size: 18px;
}

.featured-post-small:last-child{
  padding-bottom: 0;
  border: none;
}

.featured-post-small .article-content{
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
}

.article-meta{
  display: flex;
  align-items: center;
  color: var(--clr-white);
  opacity: 0.3;
}

.article-type{
  font-size: 12px;
  font-weight: 700;
  margin-right: .25rem;
  letter-spacing: 1px;
}

.article-date{
  font-size: 12px;
  font-weight: 400;
}

.article-title{
  font-size: 20px;
  line-height: 1.2;
  color: var(--clr-white);
  font-weight: 700;
  opacity: 0.8;
  width: 85%;
}

.article-introduction{
  width: 90%;
}

.article-introduction p{
  color: var(--clr-white);
  font-size: 12px;
  line-height: 1.6;
  opacity: 0.5;
  font-weight: 500;
}

@media (min-width: 31.7em){
  .blog-title{
    font-size: var(--step-2);
  }
  .blog-featured-posts-container{
    padding-inline: 3em;
  }
}

@media(min-width: 35em){
  .blog-featured-grid{
    grid-template-columns: repeat(3, 1fr);
  } 
  .featured-post-big{
    grid-column: span 3;
  }
  .featured-post-small{
    display: flex;
    flex-direction: column;
  }
  .featured-post-small{
    grid-template-columns: none;
  }
  .post-thumbnail-small{
    height: auto;
  }
  .featured-post-small:last-child{
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .article-title{
    width: 100%;
  }
  .article-introduction{
    width: min(85%, 31.25rem);
  }
}

@media (min-width: 40em){
  .blog-featured-posts-container{
    padding-inline: 5em;
  }
}

@media(min-width: 55em){
  .featured-post-big .article-content{
    padding-bottom: 0;
    border-bottom: none;
  }
  .blog-featured-grid{
    grid-template-columns: repeat(4, 1fr);
  }
  .featured-post-big{
    grid-row: 1 / 4;
  }
  .article-post{
    grid-column: span 2;
  }
  .featured-post-small .article-content{
    grid-column: 2 / 3;
  }
  .featured-post-small{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-post-small .article-title{
    font-size: 20px;
  }
  .article-title{
    font-size: 28px;
  }
  .article-introduction{
    width: 100%;
  }
  .article-introduction p{
    font-size: 12px;
  }
  .featured-post-small:last-child{
    padding-bottom: 0;
    border: none;
  }
  .post-thumbnail-small{
    height: 100%;
  }
  .blog-title{
    font-size: var(--step-3);
  }
}

@media(min-width: 70em)
{ 
  .blog-featured-grid{
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .article-introduction{
    width: 70%;
  }
  .article-introduction p{
    font-size: 13px;
  }
}

/* -- desktop screen size --*/
@media (min-width: 67.5em)
{
  .navbar{
    display: block;
    position: static;
    background-color: white;
    height: 4rem;
    width: auto;
    padding: 0;
    animation: none;
    box-shadow: none;
    z-index: 1;
  }
  .navbar-list{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
    list-style-type: none;
  }
  .navbar-link:hover{
    border-bottom: 2px solid var(--clr-dark-blue);
  }
  .hamburger-menu{
    display: none;
  }
}

@keyframes htmlFadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes left-to-right{
  from{
    transform: translate(-100%);
  }
  to{
    transform: translate(0);
  }
}

@keyframes top-to-bottom{
  from{
    transform: translateY(-100%)
  }
  to{
    transform: translateY(0);
  }
}

@keyframes right-to-left{
  from{
    transform: translate(100%)
  }
  to{
    transform: translate(0);
  }
}

@keyframes carouselAnimation{
  from{
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }
}